*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# Package Files #
*.jar
*.war
*.ear

*.imi
*.iml
.gitignore
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/target
/.idea

logs/
/server/
build/

ocsearch-service/target
ocsearch-common/target
ocsearch-expression/target
ocsearch-datasource/target
ocsearch-batchjob/target
ocsearch-cache/target
ocsearch-flume/target

web/node_modules
web/dist
web/build-server
web/.sass-cache
web/app/bower_components
web/.idea
web/*/npm-debug.log
web/uploads
web/*/nohup.out
web/etc/
web/node/
web/app/build-scripts
web/target
web/*/log/
web/*/*.log
web/*/users.dat
web/*/.tmp/
web/schema.config.json

