<div class="container-fluid" style="margin: 5%;">
  <div class="row">
    <h3>ID : {{item.id}}</h3>
  </div>
  <div class="row" ng-repeat="field in schema.fields" style="font-size: 20px">
    <span class="badge badge-secondary" style="margin-right: 12px">{{$index+1}}</span>
    <b>{{field.name}} : </b>
    <span ng-if="field.store_type !== 'FILE' && field.store_type !== 'ATTACHMENT'">{{item[field.name] || ('EMPTY' | translate)}}</span>
    <span ng-if="field.store_type === 'FILE'">
      <a href="">{{cutLen(item[field.name], 50)}}</a>
    </span>
    <span ng-if="field.store_type === 'ATTACHMENT'">
    </span>
  </div>
</div>