<div ng-include="'views/ui/header.html'"></div>
<script type="text/ng-template" id="addSchema.html">
  <form class="form-horizontal">
  <div ng-switch="addsteps[curstep]">
    <div ng-switch-when="step1">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{titleStr}}<small style="margin-left: 10px;">{{'BASIC_INFO' | translate}}</small></h3>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'NAME' | translate}} *</label>
            <div class="col-md-8">
              <input class="form-control" ng-model="newschema.name">
            </div>
            <div class="col-md-2">
              <div class="checkbox"><label><input type="checkbox" ng-model="newschema.with_hbase">{{'WITH_HBASE' | translate}}</label></div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'INDEX_TYPE' | translate}} *</label>
            <div class="col-md-10">
              <select class="form-control" ng-model="newschema.index_type" ng-options="index.val as index.display for index in index_type">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'ROWKEY_EXPRESSION' | translate}}</label>
            <div class="col-md-10">
              <input class="form-control" ng-model="newschema.rowkey_expression" uib-popover-html="helpExpressionHtml" popover-trigger="'focus'" popover-animation="true">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'TABLE_EXPRESSION' | translate}}</label>
            <div class="col-md-10">
              <input class="form-control" ng-model="newschema.table_expression" uib-popover-html="helpExpressionHtml" popover-trigger="'focus'" popover-animation="true">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'ID_FORMATTER' | translate}}</label>
            <div class="col-md-10">
              <select class="form-control" ng-model="newschema.id_formatter" ng-options="f for f in id_formatter_type">
              </select>
            </div>
          </div> 
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'CONTENT_FIELD' | translate}}</label>
            <div class="col-md-4"><input type="text" class="form-control" placeholder="{{'NAME' | translate}}" ng-model="new_content_field.name" ng-disabled="newschema.index_type!==0 && newschema.index_type!==2"></div>
            <div class="col-md-4">
              <select class="form-control" ng-disabled="newschema.index_type!==0 && newschema.index_type!==2" ng-model="new_content_field.type" ng-options="tp for tp in field_index_type | filter: typeFilter.CONTENT">
                <option value=""><{{'SELECT_TYPE' | translate}}></option>
              </select>
            </div>
            <div class="col-md-2">
              <a class="btn btn-success center-block" ng-click="addContentField()" ng-disabled="!new_content_field.name || !new_content_field.type"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
            <div class="col-md-10 col-md-offset-2" style="margin-top: 24px;">
              <table class="table">
              <tr><th>#</th><th>{{'INTABLE_NAME' | translate}}</th><th>{{'INTABLE_TYPE' | translate}}</th><th>{{'INTABLE_OPERATION' | translate}}</th></tr>
              <tr ng-repeat="cfield in newschema.content_fields">
                <td>{{$index+1}}</td>
                <td>{{cfield.name}}</td>
                <td>{{cfield.type}}</td>
                <td>
                  <a href="" ng-click="removeContentField($index)">{{'DELETE' | translate}}</a>
                </td>
              </tr>
              </table>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'INNER_FIELD' | translate}}</label>
            <div class="col-md-4"><input type="text" class="form-control" placeholder="{{'NAME' | translate}}" ng-model="new_inner_field.name" ng-disabled="newschema.with_hbase || newschema.index_type===1 || newschema.index_type===2"></div>
            <div class="col-md-4"><input type="text" class="form-control" placeholder="{{'INTABLE_SEPARATOR' | translate}}" ng-model="new_inner_field.separator" ng-disabled="newschema.with_hbase || newschema.index_type===1 || newschema.index_type===2"></div>
            <div class="col-md-2">
              <a class="btn btn-success center-block" ng-click="addInnerField()" ng-disabled="!new_inner_field.name || !new_inner_field.separator"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
            <div class="col-md-10 col-md-offset-2" style="margin-top: 24px;">
              <table class="table">
              <tr><th>#</th><th>{{'INTABLE_NAME' | translate}}</th><th>{{'INTABLE_SEPARATOR' | translate}}</th><th>{{'INTABLE_OPERATION' | translate}}</th></tr>
              <tr ng-repeat="ifield in newschema.inner_fields">
                <td>{{$index+1}}</td>
                <td>{{ifield.name}}</td>
                <td>{{ifield.separator}}</td>
                <td>
                  <a href="" ng-click="removeInnerField($index)">{{'DELETE' | translate}}</a>
                </td>
              </tr>
              </table>
            </div>
          </div>
        </div> <!-- END of container-fluid -->
      </div> <!-- END of modal-body -->
      <div class="modal-footer">
        <b class="pull-left" style="color: red;">{{modalmsg}}</b>
        <button class="btn btn-primary" type="button" ng-click="next()" ng-disabled="!checkStep1()">{{'NEXT' | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">{{'CANCEL' | translate}}</button>
      </div> <!-- END of modal-footer -->
    </div> <!-- END of switch step1 -->
    <div ng-switch-when="step2">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{titleStr}}<small style="margin-left: 10px;">{{'FIELDS' | translate}}</small></h3>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'NAME' | translate}} *</label>
            <div class="col-md-10">
              <input type="text" class="form-control" ng-model="new_field.name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'STORE_TYPE' | translate}} *</label>
            <div class="col-md-10">
              <select class="form-control" ng-model="new_field.store_type" ng-options="ftp for ftp in field_type">
                <option value=""><{{'SELECT_FIELD_STORE_TYPE' | translate}}></option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'CONTENT_FIELD' | translate}}</label>
            <div class="col-md-10">
              <select class="form-control" ng-disabled="newschema.index_type!==0 && newschema.index_type!==2" ng-model="new_field.content_field" ng-options="cfield.name as cfield.name for cfield in newschema.content_fields" ng-change="checkIndexType()">
                <option value=""><{{'SELECT_FIELD_CONTENT_FIELD' | translate}}></option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'FIELD_INDEX' | translate}}</label>
            <div class="col-md-3">
              <div class="checkbox"><label><input type="checkbox" ng-disabled="newschema.index_type!==0 && newschema.index_type!==2" value="" ng-model="new_field.indexed" ng-click="checkIndexType()">{{'INDEXED' | translate}}</label></div>
            </div>
            <div class="col-md-3">
              <div class="checkbox"><label><input type="checkbox" value="" ng-model="new_field.index_stored" disabled>Stored</label></div>
            </div>
            <div class="col-md-4">
              <select class="form-control" ng-model="new_field.index_type" ng-options="tp for tp in field_index_type | filter: typeFilter[new_field.store_type]" ng-disabled="!((new_field.indexed || new_field.content_field) && new_field.store_type)">
                <option value=""><{{'SELECT_FIELD_INDEX_TYPE' | translate}}></option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'HBASE' | translate}}</label>
            <div class="col-md-5"><input type="text" class="form-control" ng-model="new_field.hbase_family" ng-disabled="!newschema.with_hbase" placeholder="{{'HBASE_FAMILY' | translate}}"></div>
            <div class="col-md-5"><input type="text" class="form-control" ng-model="new_field.hbase_column" ng-disabled="!newschema.with_hbase" placeholder="{{'HBASE_COLUMN' | translate}}"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'INNER_FIELD' | translate}}</label>
            <div class="col-md-10">
              <select class="form-control" ng-disabled="newschema.with_hbase || newschema.index_type===1 || newschema.index_type===2" ng-model="new_field.inner_field" ng-options="ifield.name as ifield.name for ifield in newschema.inner_fields">
                <option value=""><{{'SELECT_FIELD_INNER_FIELD' | translate}}></option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2 col-md-offset-10">
              <a class="btn btn-success center-block" ng-click="addField()" ng-disabled="!enableAddField()"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
          </div>
          <div class="col-md-12" style="margin-top: 10px;">
            <table class="table">
              <tr>
                <th>#</th>
                <th>{{'INTABLE_NAME' | translate}}</th>
                <th>{{'INTABLE_STORE_TYPE' | translate}}</th>
                <th>{{'INTABLE_INDEX_TYPE' | translate}}</th>
                <th>{{'INTABLE_CONTENT_FIELD' | translate}}</th>
                <th ng-if="newschema.with_hbase">{{'HBASE' | translate}}</th>
                <th ng-if="!newschema.with_hbase">{{'INTABLE_INNER_FIELD' | translate}}</th>
                <th>{{'INTABLE_OPERATION' | translate}}</th>
              </tr>
              <tr ng-repeat="field in newschema.fields">
                <td>{{$index + 1}}</td>
                <td>{{field.name}}</td>
                <td>{{field.store_type}}</td>
                <td>{{field.index_type || ('NULL' | translate)}}</td>
                <td>{{field.content_field || ('NULL' | translate)}}</td>
                <td ng-if="newschema.with_hbase">{{field.hbase_family || ('NULL' | translate)}}:{{field.hbase_column || ('NULL' | translate)}}</td>
                <td ng-if="!newschema.with_hbase">{{field.inner_field || ('NULL' | translate)}}</td>
                <td><a href="" ng-click="removeField($index)" style="text-decoration: none;">{{'DELETE' | translate}}</a></td>
              </tr>
            </table>
          </div>
        </div> <!-- END of container-fluid -->
      </div> <!-- END of modal-body -->
      <div class="modal-footer">
        <b class="pull-left" style="color: red;">{{modalmsg}}</b>
        <button class="btn btn-primary" type="button" ng-click="prev()">{{'PREV' | translate}}</button>
        <button class="btn btn-primary" type="button" ng-click="next()" ng-disabled="!checkStep2()">{{'NEXT' | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">{{'CANCEL' | translate}}</button>
      </div> <!-- END of modal-footer -->
    </div> <!-- END of switch step2 -->
    <div ng-switch-when="step3">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{titleStr}}<small style="margin-left: 10px;">{{'QUERY_FIELD' | translate}}</small></h3>
      </div>
      <div class="modal-body" id="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'NAME' | translate}}</label>
            <div class="col-md-10">
              <select class="form-control" ng-disabled="newschema.index_type!==0 && newschema.index_type!==2" ng-model="new_query_field.name">
                <option value=""><{{'SELECT_QUERY_FIELD' | translate}}></option>
                <option ng-repeat="cf in newschema.content_fields" value="{{cf.name}}">{{cf.name}}</option>
                <option ng-repeat="fd in newschema.fields | filter: queryFilter" value="{{fd.name}}">{{fd.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-2" style="text-align: left;">{{'WEIGHT' | translate}}</label>
            <div class="col-md-10">
              <input type="number" ng-blur="limitWeight()" ng-disabled="newschema.index_type!==0 && newschema.index_type!==2" class="form-control" ng-model="new_query_field.weight" min="1">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-2 col-md-offset-10">
              <a class="btn btn-success center-block" ng-click="addQueryField()" ng-disabled="!new_query_field.name || !new_query_field.weight"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-2">
            <table class="table">
              <tr><th>#</th><th>{{'INTABLE_NAME' | translate}}</th><th>{{'INTABLE_WEIGHT' | translate}}</th><th>{{'INTABLE_OPERATION' | translate}}</th></tr>
              <tr ng-repeat="qfield in newschema.query_fields">
                <td>{{$index + 1}}</td>
                <td>{{qfield.name}}</td>
                <td>{{qfield.weight}}</td>
                <td><a href="" ng-click="removeQueryField($index)" style="text-decoration: none;">{{'DELETE' | translate}}</a></td>
              </tr>
            </table>
          </div>
        </div> <!-- END of container-fluid -->
      </div> <!-- END of modal-body -->
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="prev()">{{'PREV' | translate}}</button>
        <button class="btn btn-success" type="button" ng-click="ok()">{{'OK' | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">{{'CANCEL' | translate}}</button>
      </div> <!-- END of modal-footer -->
    </div> <!-- END of switch step3 -->
  </div> <!-- END of ng-switch -->
  </form>
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <div class="list-group box">
        <div class="list-group-item">
          <button class="btn btn-default btn-block" style="outline: 0" ng-click="addSchema()">{{'ADD' | translate}}</button>
        </div>
        <a href="" class="list-group-item" ng-repeat="schema in schemas" ng-class="{active: page.schemasActive[$index]}" ng-click="selectSchema(schema,$index)">
          {{limitLen(schema.name)}}
        </a>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="panel panel-default box" ng-show="page.schema.name">
        <div class="panel-heading">
          <div class="container-fluid">
            <button class="btn btn-danger btn-sm pull-right glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteSchema()"></button>
            <button class="btn btn-default btn-sm pull-right glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right: 10px;" ng-click="editSchema()"></button>
          </div>
        </div>
        <div class="panel-body">
          <h4>{{'BASIC_INFO' | translate}}</h4><hr>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"><b>{{'NAME' | translate}}:</b></div>
            <div class="col-md-4">{{page.schema.name}}</div>
            <div class="col-md-2"><b>{{'INDEX_TYPE' | translate}}:</b></div>
            <div class="col-md-4">{{schemaIndexType(page.schema.index_type) || "(unknown)"}}</div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"><b>{{'ROWKEY_EXPRESSION' | translate}}:</b></div>
            <div class="col-md-4">{{page.schema.rowkey_expression || ('NULL' | translate)}}</div>
            <div class="col-md-2"><b>{{'TABLE_EXPRESSION' | translate}}:</b></div>
            <div class="col-md-4">{{page.schema.table_expression || ('NULL' | translate)}}</div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"><b>{{'WITH_HBASE' | translate}}</b></div>
            <div class="col-md-10">{{page.schema.with_hbase || ('NULL' | translate)}}</div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"><b>{{'ID_FORMATTER' | translate}}:</b></div>
            <div class="col-md-10">{{page.schema.id_formatter || ('NULL' | translate)}}</div>
          </div>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-5">
              <b>{{'CONTENT_FIELD' | translate}}</b>
              <table class="table" style="margin-top: 10px;">
                <tr>
                  <th>#</th>
                  <th>{{'INTABLE_NAME' | translate}}</th>
                  <th>{{'INTABLE_TYPE' | translate}}</th>
                </tr>
                <tr ng-repeat="cfield in page.schema.content_fields">
                  <td>{{$index+1}}</td>
                  <td>{{cfield.name}}</td>
                  <td>{{cfield.type}}</td>
                </tr>
              </table>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <b>{{'INNER_FIELD' | translate}}</b>
              <table class="table" style="margin-top: 10px;">
                <tr>
                  <th>#</th>
                  <th>{{'INTABLE_NAME' | translate}}</th>
                  <th>{{'INTABLE_SEPARATOR' | translate}}</th>
                  <th>{{'HBASE' | translate}}</th>
                </tr>
                <tr ng-repeat="ifield in page.schema.inner_fields">
                  <td>{{$index+1}}</td>
                  <td>{{ifield.name}}</td>
                  <td>{{ifield.separator}}</td>
                  <td>{{ifield.hbase_family || ('NULL' | translate)}}:{{ifield.hbase_column || ('NULL' | translate)}}</td>
                </tr>
              </table>
            </div>
          </div>
          <h4 style="margin-top: 50px;">{{'TABLE' | translate}}</h4><hr>
          <i ng-repeat="table in page.tables" ng-if="page.tables.length > 0"><a ui-sref="table({linktable:table})" style="text-decoration: none;">{{table}}</a>&nbsp;&nbsp;</i>
          <i ng-if="!page.tables.length || page.tables.length===0">{{'NULL' | translate}}</i>
          <h4 style="margin-top: 50px;">{{'FIELDS' | translate}}</h4><hr>
          <table class="table">
            <tr>
              <th>#</th>
              <th>{{'INTABLE_NAME' | translate}}</th>
              <th>{{'INTABLE_STORE_TYPE' | translate}}</th>
              <th>{{'INTABLE_CONTENT_FIELD' | translate}}</th>
              <th>{{'INTABLE_INNER_FIELD' | translate}}</th>
              <th>{{'INTABLE_INDEX_TYPE' | translate}}</th>
              <th>{{'HBASE' | translate}}</th>
              <th>{{'INTABLE_QUERY_WEIGHT' | translate}}</th>
              <th><span class="checkbox" style="margin-top: 0;">{{'INTABLE_DISPLAY' | translate}}<input type="checkbox" ng-click="checkDisplay()" ng-model="page.schema_display" indeterminate="page.schema_display_indeter"></span></th>
            </tr>
            <tr ng-repeat="field in page.schema.fields">
              <td>{{$index+1}}</td>
              <td>{{field.name}}</td>
              <td>{{field.store_type}}</td>
              <td>{{field.content_field || ('NULL' | translate)}}</td>
              <td>{{field.inner_field || ('NULL' | translate)}}</td>
              <td>{{field.index_type || ('NULL' | translate)}}</td>
              <td>{{field.hbase_family || ('NULL' | translate)}}:{{field.hbase_column || ('NULL' | translate)}}</td>
              <td>{{queryWeight(field.name, page.schema.query_fields) || ('NULL' | translate)}}</td>
              <td><span class="checkbox" style="margin-top: 0;"><input type="checkbox" ng-model="schema_display[page.schema.name][field.name]" ng-click="changeDisplay()">{{'DISPLAY' | translate}}</span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
