<div ng-include="'views/ui/header.html'"></div>
<script type="text/ng-template" id="addTable.html">
  <div class="modal-header">
    <h3 class="modal-title">Add New Table</h3>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-2" style="text-align: left;">Name:</label>
        <div class="col-md-10">
          <input class="form-control" ng-model="newtable.name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2" style="text-align: left;">Schema:</label>
        <div class="col-md-10">
          <select class="form-control" ng-model="newtable.schemaModel" ng-options="schema.name for schema in schemas">
            <option value="">(Select schema)</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2" style="text-align: left;">Region Num:</label>
        <div class="col-md-4">
          <input class="form-control" type="number" ng-model="newtable.hbase.region_num">
        </div>
        <label class="control-label col-md-2" style="text-align: left;">Region Split:</label>
        <div class="col-md-4">
          <input class="form-control" type="text" ng-model="newtable.hbase.region_split">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2" style="text-align: left;">Solr Shards:</label>
        <div class="col-md-4">
          <input class="form-control" type="number" ng-model="newtable.solr.shards">
        </div>
        <label class="control-label col-md-2" style="text-align: left;">Solr Replicas:</label>
        <div class="col-md-4">
          <input class="form-control" type="number" ng-model="newtable.solr.replicas">
        </div>
      </div>
    </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
<script type="text/ng-template" id="editTable.html">
  <div class="modal-header">
    <h3 class="modal-title">Edit table fields</h3>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-2" style="text-align: left;">Fields</label>
          <div class="col-md-4">
            <input class="form-control">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <div class="list-group box">
        <div class="list-group-item">
          <button class="btn btn-default btn-block" style="outline: 0" ng-click="addTable()">Add</button>
        </div>
        <a href="" class="list-group-item" ng-repeat="table in tables" ng-click="selectTable(table, $index)" ng-class="{active: page.tablesActive[$index]}">
          {{table}}
        </a>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="panel panel-default box" ng-show="page.table.name">
        <div class="panel-heading">
          <div class="container-fluid">
            <button class="btn btn-danger btn-sm pull-right glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteTable()"></button>
            <button class="btn btn-default btn-sm pull-right glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right: 10px;" ng-click="editTable()"></button>
            </button>
          </div>
        </div>
        <div class="panel-body">
          <h4>Basic info</h4><hr>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2"><b>Name:</b></div>
            <div class="col-md-4">{{page.table.name}}</div>
            <div class="col-md-2"><b>Schema:</b></div>
            <div class="col-md-4">{{page.table.schema}}</div>
          </div>
          <h4 style="margin-top: 50px;">Fields</h4><hr>
          <table class="table">
            <tr><th>#</th><th>name</th><th>store type</th><th>content field</th><th>inner field</th><th>index type</th><th>query weight</th></tr>
            <tr ng-repeat="field in page.table.fields">
              <td>{{$index+1}}</td>
              <td>{{field.name}}</td>
              <td>{{field.store_type}}</td>
              <td>{{field.content_field || "(empty)"}}</td>
              <td>{{field.inner_field || "(empty)"}}</td>
              <td>{{field.index_type || "(not indexed)"}}</td>
              <td>{{queryWeight(field.name, page.table.query_fields) || "(not queried)"}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
