<!DOCTYPE html>
<html ng-app="helpapp">
<head>
  <title>Document of Expression</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <style type="text/css">
  body {
    margin-top: 50px;
    margin-bottom: 150px;
  }
  p {
    font-size: 18px;
  }
  li {
    font-size: 16px;
  }
  .exptitle {
    margin-bottom: 50px;
  }
  .expobj {
    margin-left: 50px;
  }
  .expobjtitle {
    color:brown;
  }
  .expfun {
    margin-left: 30px;
  }
  .expfuntitle {
    color: indianred;
  }
  .code {
    background: gainsboro;
    padding: 5px 36px 5px 36px;
  }
  ul li {
    margin-top: 10px;
  }
  </style>
</head>
<body ng-controller="expressionCtrl">
  <div class="col-md-9 col-md-offset-1">
    <h1 class="exptitle">{{helpTitle}}</h1>
    <div class="expobj">
      <p style="text-indent: 36px;">为了方便用户生成rowkey和表名，OCSearch expression提供了一组生成表达式的方法以便用户使用。 支持<a href="http://commons.apache.org/proper/commons-jexl/xref-test/index.html" target="_blank">jexl表达式</a>,可以参照JexlTest类中的表达式。以下是根据时间生成GPRS表名的表达式的例子：</p>
      <p class="code">'GPRS__'+ $date:format(now,'yyyyMMdd')</p>
      <ul>
        <li>now为时间戳（绝对秒数）</li>
        <li>$date为处理时间日期的namespace</li>
        <li>format(long time,String formatter)为格式化方法（提供的方法和namespace的可以查看help文档）</li>
        <li>对于2017.12.12 12:12:12，最终结果为GPRS__20171212</li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <h2 class="expobj">OCSearch提供自定义Namespace如下</h2>
    <div ng-repeat="obj in expobjs" class="expobj">
      <h2 class="expobjtitle">Namespace:&nbsp;{{obj}}</h2>
      <div ng-repeat="fun in expressions[obj]" class="expfun">
        <h3 class="expfuntitle">Function:&nbsp;{{fun.name}}</h3>
        <p><b>Description:&nbsp;</b>{{fun.description}}</p>
        <p>
          <b>Args: &nbsp;</b>
          <ul>
            <li ng-repeat="arg in fun.args"><i>{{arg.name}}&nbsp;(&nbsp;{{arg.type}}&nbsp;type&nbsp;)</i>:&nbsp;&nbsp;{{arg.description}}</li>
          </ul>
        </p>
        <p><b>Return: &nbsp;</b>{{fun.return_type}}</p>
      </div>
    </div>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="build-scripts/controllers/expression.js"></script>
</body>
</html>