<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <listener>
        <listener-class>com.asiainfo.ocsearch.listener.SystemListener</listener-class>
    </listener>
    <display-name>Archetype Created Web Application</display-name>
    <!--schema service begin-->
    <servlet>
        <servlet-name>AddSchema</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.schema.AddSchemaService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSchema</servlet-name>
        <url-pattern>/schema/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteSchema</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.schema.DeleteSchemaService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSchema</servlet-name>
        <url-pattern>/schema/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListSchema</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.schema.ListSchemaService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListSchema</servlet-name>
        <url-pattern>/schema/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSchema</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.schema.GetSchemaService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSchema</servlet-name>
        <url-pattern>/schema/get</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateSchema</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.schema.UpdateSchemaService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateSchema</servlet-name>
        <url-pattern>/schema/update</url-pattern>
    </servlet-mapping>
    <!--schema service end-->

    <!--table service begin-->
    <servlet>
        <servlet-name>CreateTable</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.table.CreateTableService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateTable</servlet-name>
        <url-pattern>/table/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteTable</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.table.DeleteTableService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTable</servlet-name>
        <url-pattern>/table/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CompactTable</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.table.CompactTableService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompactTable</servlet-name>
        <url-pattern>/table/compact-table</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListTable</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.table.ListTableService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTable</servlet-name>
        <url-pattern>/table/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetTable</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.table.GetTableService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTable</servlet-name>
        <url-pattern>/table/get</url-pattern>
    </servlet-mapping>
    <!--table service end-->

    <!--query service begin -->
    <servlet>
        <servlet-name>FileGet</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.query.FileGetService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileGet</servlet-name>
        <url-pattern>/query/fileget</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Get</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.query.GetService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Get</servlet-name>
        <url-pattern>/query/get</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Scan</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.query.ScanService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Scan</servlet-name>
        <url-pattern>/query/scan</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.query.SearchService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/query/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sql</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.query.SqlService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sql</servlet-name>
        <url-pattern>/query/sql</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeepSearch</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.query.DeepSearchService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeepSearch</servlet-name>
        <url-pattern>/query/deep-search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeepScan</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.query.DeepScanService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeepScan</servlet-name>
        <url-pattern>/query/deep-scan</url-pattern>
    </servlet-mapping>

    <!--query service end-->

    <!--index  service begin-->


    <servlet>
        <servlet-name>AddIndexer</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.index.AddIndexerService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddIndexer</servlet-name>
        <url-pattern>/index/add-indexer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteIndexer</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.index.DeleteIndexerService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteIndexer</servlet-name>
        <url-pattern>/index/delete-indexer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateIndexer</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.index.UpdateIndexerService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateIndexer</servlet-name>
        <url-pattern>/index/reload-indexer</url-pattern>
    </servlet-mapping>
    <!--index  service end-->

    <!--expression  service begin-->
    <servlet>
        <servlet-name>ListExpression</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.expression.ListExpressionService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListExpression</servlet-name>
        <url-pattern>/expression/list</url-pattern>
    </servlet-mapping>
    <!--expression  service end-->
    <!--data input  service begin-->
    <servlet>
        <servlet-name>GetJobStatus</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.batch.JobStatusService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetJobStatus</servlet-name>
        <url-pattern>/batch/status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BatchIndex</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.batch.BatchIndexService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BatchIndex</servlet-name>
        <url-pattern>/batch/index</url-pattern>
    </servlet-mapping>

    <!--data input  service begin-->
    <servlet>
        <servlet-name>BatchInput</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.batch.BatchInputService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BatchInput</servlet-name>
        <url-pattern>/batch/input</url-pattern>
    </servlet-mapping>


</web-app>
