<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <listener>
    <listener-class>com.asiainfo.ocsearch.listener.SystemListener</listener-class>
  </listener>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>AddSchema</servlet-name>
    <servlet-class>com.asiainfo.ocsearch.service.schema.AddSchemaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSchema</servlet-name>
    <url-pattern>/schema/add</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>DeleteSchema</servlet-name>
        <servlet-class>com.asiainfo.ocsearch.service.schema.DeleteSchemaService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSchema</servlet-name>
        <url-pattern>/schema/delete</url-pattern>
    </servlet-mapping>

  <servlet>
    <servlet-name>CreateTable</servlet-name>
    <servlet-class>com.asiainfo.ocsearch.service.table.CreateTableService</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CreateTable</servlet-name>
    <url-pattern>/table/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteTable</servlet-name>
    <servlet-class>com.asiainfo.ocsearch.service.table.DeleteTableService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTable</servlet-name>
    <url-pattern>/table/delete</url-pattern>
  </servlet-mapping>


</web-app>
